<div class="contenedor">
  <div class="formulario">
    <form [formGroup]="zodiacoForm">
      <div class="campo">
        <label>Nombre</label>
        <input type="text" formControlName="Nombre" placeholder="Nombre" />
      </div>

      <div class="campo">
        <label>Apellido Paterno</label>
        <input type="text" formControlName="Paterno" placeholder="Paterno" />
      </div>

      <div class="campo">
        <label>Apellido Materno</label>
        <input type="text" formControlName="Materno" placeholder="Materno" />
      </div>

      <div class="campo">
        <label>Fecha de Nacimiento</label>
        <div class="fecha-group">
          <input type="number" formControlName="Dia" placeholder="Día" min="1" max="31" />
          <input type="number" formControlName="Mes" placeholder="Mes" min="1" max="12" />
          <input type="number" formControlName="Anio" placeholder="Año" min="1900" [max]="2025" />
        </div>
      </div>

      <div class="campo radio-group">
        <label>Sexo</label>
        <label class="radio-option">
          <input type="radio" formControlName="Sexo" value="Masculino" />
          Masculino
        </label>
        <label class="radio-option">
          <input type="radio" formControlName="Sexo" value="Femenino" />
          Femenino
        </label>
      </div>
      <button (click)="imprimirInformacion()" [disabled]="zodiacoForm.invalid" class="boton-imprimir">Imprimir</button>
    </form>
  </div>
  
  
  <div class="resultado" *ngIf="mostrarResultado">
    <h1>Hola {{ procesoZodiaco.NombreCompleto }}</h1>
    <p>Tienes {{ procesoZodiaco.Edad }} años</p>
    <p>Tu signo zodiacal es:</p>
    <div class="signo-chino">
      <img [src]="procesoZodiaco.ImagenSigno" [alt]="'Imagen del signo ' + procesoZodiaco.SignoChino" class="imagen-signo">
      <p>Es {{ procesoZodiaco.SignoChino | lowercase }}</p>
    </div>
  </div>
</div>