<div class="container">
  <form [formGroup]="formulario" class="formulario">
    <h3>Calcular la distancia entre dos puntos</h3>

    <div class="campo">
      <label for="x1">x1:</label>
      <input id="x1" type="number" formControlName="x1">
    </div>

    <div class="campo">
      <label for="y1">y1:</label>
      <input id="y1" type="number" formControlName="y1">
    </div>

    <div class="campo">
      <label for="x2">x2:</label>
      <input id="x2" type="number" formControlName="x2">
    </div>

    <div class="campo">
      <label for="y2">y2:</label>
      <input id="y2" type="number" formControlName="y2">
    </div>

    <button type="button" (click)="calcularDistancia()">Calcular</button>

    <h4 class="resultado">
      La distancia entre los puntos es: {{ resultado }}
    </h4>
  </form>
</div>
