label {
  display: block;
  margin-top: 10px;
  font-weight: 600;
}

input {
  width: 100%;
  padding: 5px;
  margin-top: 4px;
  
}

button {
  margin-top: 15px;
  width: 100%;
  padding: 8px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.resultado {
  margin-top: 20px;
  font-size: 25px;
  text-align: center;
}
